<div class="mat-elevation-z8 content-table">
  <app-search-component [controller]="generoService"  (onSearchResult)="showResult($event)" />
  <div class="div-button">
    <button mat-button mat-raised-button class="menu-button" routerLink="/genero/incluir">
      <mat-icon>person</mat-icon>
      <span>Cadastrar</span>
    </button>
  </div>
  <table mat-table [dataSource]="generoDataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes" style=": 20px">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="btnEditar"
                *ngIf="securityService.hasRoles('ROLE_GRUPO_ALTERAR')"
                [routerLink]="['/genero', element.id, 'alterar']">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="remover(element)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]"-->
  <!--                 showFirstLastButtons-->
  <!--                 aria-label="Select page of periodic elements">-->
  <!--  </mat-paginator>-->
</div>
