<div class="mat-elevation-z8">
  <app-search-component [controller]="musicaControllerService"  (onSearchResult)="showResult($event)" />
  <div class="div-button">
    <button mat-button mat-raised-button class="menu-button" routerLink="/musica/incluir">
    <mat-icon>person</mat-icon>
    <span>Cadastrar</span>
    </button>
  </div>
  <table mat-table [dataSource]="musicaDataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nomeBanda">
      <th mat-header-cell *matHeaderCellDef> Banda </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeBanda}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nomeMusica">
      <th mat-header-cell *matHeaderCellDef> Música </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeMusica}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="nomeAlbum">
      <th mat-header-cell *matHeaderCellDef> Álbum </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeAlbum}} </td>
    </ng-container>

    <ng-container matColumnDef="duracao">
      <th mat-header-cell *matHeaderCellDef> Duração </th>
      <td mat-cell *matCellDef="let element"> {{element.duracao}} Segundos</td>
    </ng-container>

    <ng-container matColumnDef="dataLancamento">
      <th mat-header-cell *matHeaderCellDef> Data de lançamento </th>
      <td mat-cell *matCellDef="let element"> {{element.dataLancamento | date:"dd/MM/yyyy"}} </td>
    </ng-container>

    <ng-container matColumnDef="nome_genero">
      <th mat-header-cell *matHeaderCellDef> Genero </th>
      <td mat-cell *matCellDef="let element"> {{element.nome_genero }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="btnEditar" *ngIf="securityService.hasRoles('ROLE_GRUPO_ALTERAR')"
                [routerLink]="['/musica', element.id, 'alterar']">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="remover(element)">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-icon-button style="color: #f557ec"  (click)="favoritar(element)" *ngIf = "element.favorito">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button (click)="favoritar(element)" *ngIf = "!element.favorito">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]"-->
<!--                 showFirstLastButtons-->
<!--                 aria-label="Select page of periodic elements">-->
<!--  </mat-paginator>-->
</div>
