.card {
  max-width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 250px;
  padding-bottom: 20px;
  background-color: #f7c2ee;
}
 ::ng-deep .mat-expansion-panel-body {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 }

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
